<%= form_for(movie) do |f| %>
  <% if movie.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(movie.errors.count, "error") %> prohibited this movie from being saved:</h2>

      <ul>
      <% movie.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_area :title %>
  </div>

  <div class="field">
    <%= f.label :format %>
    <%= f.select  "format", ['VHS','DVD','Streaming'], :prompt => 'Select One'  %>
  </div>

  <div class="field">
    <%= f.label :length %>
    <%= f.number_field :length %>
  </div>

  <div class="field">
    <%= f.label :releaseyear, 'Release Year' %>
    <%= f.number_field :releaseyear %>
  </div>

  <div class="field">
    <%= f.label :rating %>
    <%= f.radio_button :rating, 0%>Null<br/>
    <%= f.radio_button :rating, 1 %>1<br/>
    <%= f.radio_button :rating, 2 %>2<br/>
    <%= f.radio_button :rating, 3 %>3<br/>
    <%= f.radio_button :rating, 4 %>4<br/>
    <%= f.radio_button :rating, 5 %>5<br/>
        <%= f.radio_button :rating, 10 %>10<br/>
    
    
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
